* {
  font-family: 'Nunito Sans', sans-serif !important;
}

html, body {
  background-color: #272a2e !important;
}

.App {
  text-align: center;
  background-color: #272a2e;
  padding-top: 100px;
}

.dropdown-item {
  padding: 0 !important;
}

.nav-link {
  padding: 0 !important;
}

.bandmatesNavbar {
  background-color: #1b1d20 !important;
  border-bottom: 1px solid #272a2e !important;
}

.bandmatesNavbarLink {
  padding: 0.25rem 1rem !important;
  display: block !important;
  width: 100% !important;
  text-decoration: none !important;
  color: white !important;
}

.bandmatesNavbarLinkActive {
  padding: 0.25rem 1rem !important;
  display: block !important;
  width: 100% !important;
  text-decoration: none !important;
  color: #01961a !important;
}

.bandmatesNavbarLink:hover {
  color: #01961a !important;
  transition: 0.2s;
}

#navbarScrollingDropdown {
  padding: 0.25rem 1rem !important;
  color: white !important;
}

#navbarScrollingDropdownActive {
  padding: 0.25rem 1rem !important;
  color: #01961a !important;
}

#navbarScrollingDropdown:hover {
  color: #01961a !important;
}

#navbarScrollingDropdown:focus {
  color: #01961a !important;
}

.dropdown-menu {
  background-color: #1b1d20 !important;
  border: 1px solid #272a2e !important;
  color: gray !important;
}

.dropdown-item {
  margin: 0px 5px !important;
  width: auto !important;
  border-radius: 5px !important;
}

.dropdown-item:hover {
  background-color: #333639 !important;
}

form.bandmatesSignUp {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bandmatesSearchButton {
  font-size: 14px !important;
  background-color: #008216 !important;
  border: none !important;
  margin: 3px 20px 0 10px;
}

.bandmatesSearchButton:hover {
  background-color: #01961a !important;
  border: none !important;
}

.bandmatesSearchButton:focus {
  box-shadow: none !important;
}

.bandmatesSearchBar {
  font-size: 14px !important;
  width: 220px !important;
  height: 40px !important;
  border: 0 !important;
  padding: 0px 20px !important;
  color: black !important;
  background-color: white !important;
  border-radius: 3px !important;
}

.bandmatesSearchBar:focus {
  outline: 3px solid #008216 !important;
  box-shadow: none !important;
}

h1, h2, h3, h4, h5, h6, p {
  color: white;
}

button.bandmatesButton {
  width: 120px;
  height: 40px;
  border: 0;
  margin: 10px;
  color: white;
  background-color: #008216;
  border-radius: 3px;
}

button.bandmatesButton:hover {
  color: white;
  background-color: #01961a;
  cursor: pointer;
  transition: 0.3s;
}

button.bandmatesCloseButton {
  width: 100px;
  height: 40px;
  border: 0;
  margin: 10px;
  color: white;
  background-color: #df3030;
  border-radius: 3px;
}

button.bandmatesCloseButton:hover {
  color: white;
  background-color: #f73c3c;
  cursor: pointer;
  transition: 0.3s;
}

button.addBOTBButton {
  width: 170px;
  height: 40px;
  border: 0;
  margin: 10px;
  color: white;
  background-color: #008216;
  border-radius: 3px;
}

button.addBOTBButton:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: #008216;
}

button.addBOTBButton:hover {
  color: white;
  background-color: #01961a;
  cursor: pointer;
  transition: 0.3s;
}

button.addTrackButton {
  min-width: 35px;
  height: 35px;
  font-size: 14px;
  border: 0;
  margin: 8px 0px 0px 15px;
  color: white;
  padding: 0px 0px 2.5px 0px;
  background-color: #008216;
  border-radius: 50%;
}

button.addTrackButton:hover {
  color: white;
  background-color: #01961a;
  cursor: pointer;
  transition: 0.3s;
}

button.bandmatesSmallButton {
  width: 80px;
  height: 30px;
  font-size: 14px;
  border: 0;
  margin: 10px;
  color: white;
  background-color: #008216;
  border-radius: 3px;
}

button.bandmatesSmallButton:hover {
  color: white;
  background-color: #01961a;
  cursor: pointer;
  transition: 0.3s;
}

button.bandmatesShareButton {
  width: 80px;
  height: 35px;
  border: 0;
  margin: 10px;
  color: black;
  background-color: lightgray;
  border-radius: 3px;
}

button.bandmatesShareButton:hover {
  color: black;
  background-color: gray;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"].bandmatesSubmitButton {
  text-align: center;
  width: 120px;
  height: 40px;
  border: 0;
  margin: 12px auto;
  color: white;
  background-color: #008216;
  border-radius: 3px;
}

input[type="submit"].bandmatesSubmitButton:hover {
  color: white;
  background-color: #01961a;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"].bandmatesSubmitButton:disabled {
  color: lightgray;
}

input[type="text"] {
  justify-content: center;
  display: flex;
  width: 300px;
  height: 40px;
  border: 0;
  margin: 8px auto;
  padding: 0px 20px;
  color: black;
  background-color: white;
  border-radius: 3px;
}

input[type="text"]:focus {
  outline: 3px solid #008216;
}

input[type="password"] {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 40px;
  border: 0;
  margin: 8px auto;
  padding: 0px 20px;
  color: black;
  background-color: white;
  border-radius: 3px;
}

input[type="password"]:focus {
  outline: 3px solid #008216;
}

input[type="file"] {
  margin: 15px auto 30px auto;
  color: white;
}

select {
  justify-content: center;
  width: 200px;
  height: 40px;
  padding: 0px 20px;
  border: 0;
  color: black;
  background-color: white;
  border-radius: 3px;
}

label {
  color: white;
  margin: 0 25px;
}

textarea {
  justify-content: center;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 400px;
  height: 200px;
  border: 0;
  padding: 7px 20px;
  color: black;
  background-color: white;
  border-radius: 3px;
}

textarea:focus {
  outline: 3px solid #008216;
}

.logoutModal {
  margin: 25vh auto 0 auto;
  width: 35vw;
  min-height: 26vh;
  text-align: center;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
}

.factOfTheDayCard {
  margin: 15px 10px;
  background-color: #212529;
  border-radius: 10px;
  text-align: center;
  padding: 35px;
}

.homePageCard {
  margin: 15px 10px;
  width: 200px;
  background-color: #212529;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.homePageCard > p {
  margin: 0px 20px;
}

.homePageCard > p:nth-child(2) {
  font-size: large;
}

.homePageCard > p:nth-child(3) {
  font-size: small;
  color: lightgray;
  word-wrap: break-word;
}

.homePageCard > img {
  margin: 10px 20px;
}

.userSearchResult {
  margin: 20px auto;
  width: 50vw;
  background-color: #212529;
  border-radius: 10px;
  text-align: left;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.userSearchResult > div > p {
  margin: 5px 20px;
}

.userSearchResult > div > p:nth-child(1) {
  font-size: large;
}

.userSearchResult > div > p:nth-child(2) {
  font-size: small;
  color: lightgray;
}

.active {
  color: #01961a !important;
}

.profilePicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profileCard {
  margin: 0 40px 40px 40px;
  padding: 20px 0;
  background-color: #1b1d20;
  border-radius: 10px;
}

.recentlyPlayedCard {
  height: 70vh;
  overflow: scroll;
  margin: 0 40px 40px 0px;
  padding: 20px 0;
  background-color: #1b1d20;
  border-radius: 10px;
}

.topTracksCard {
  margin: 0px 40px 40px 40px;
  padding: 20px 0;
  background-color: #1b1d20;
  border-radius: 10px;
}

.leftProfile {
  width: 60vw;
}

.rightProfile {
  width: 40vw;
}

.modal-content {
  color: white !important;
  background-color: #1b1d20 !important;
  border: none !important;
  padding: 30px !important;
}

.modal-body {
  max-height: 250px !important;
  overflow: scroll;
}

.modal-header {
  color: white !important;
  background-color: #1b1d20 !important;
  border: none !important;
}

.modal-footer {
  color: white !important;
  background-color: #1b1d20 !important;
  border: none !important;
}

.btn-close {
  box-shadow: none !important;
  color: white !important;
}

.close {
  color: white !important; 
  opacity: 1;
}

.homePage {
  margin: 20px auto;
  width: 60vw;
}

.navbar-collapse {
  text-align: right;
}

#navbarScroll > div > div > div {
  text-align: right;
}

.form-flex {
  display: flex;
  float: right;
}

.spotifyProfile {
  display: flex;
  flex-wrap: wrap;
}

.botbSongCard {
  display: flex;
  justify-content: space-between;
  margin: 0px auto 0px auto; 
  text-align: left;
  background-color: #1b1d20;
  width: 70%;
  cursor: pointer;
}

.bandmatesYouMayKnow {
  display: flex;
  flex-wrap: wrap;
}

.addUser {
  display: flex;
  justify-content: space-between;
  text-align: 'left';
  width: 30vw;
}

.addTrack {
  display: flex;
  justify-content: left;
  margin: 30px 50px;
  text-align: left;
}

@media only screen and (max-width: 700px) {
  .userSearchResult {
    display: block;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .addUser {
    width: 100%;
  }

  .addTrack {
    margin: 30px 10px;
  }

  .bandmatesYouMayKnow {
    justify-content: center;
  }

  .homePage {
    width: 85vw;
  }

  textarea {
    width: 300px;
  }

  .bandmatesSearchButton.btn.btn-primary {
    margin: 10px;
    float: right;
  }

  .modal-title {
    text-align: center !important;
  }

  .form-flex {
    display: block;
  }

  .modal-header { 
    flex-wrap: wrap !important;
    display: block !important;
  }

  .logoutModal {
    width: 60vw;
  }
}

@media only screen and (max-width: 900px) {
  .leftProfile {
    width: 100vw !important;
  }
  
  .rightProfile {
    width: 100vw !important;
  }

  .recentlyPlayedCard {
    margin: 0px 40px 40px 40px;
  }

  .botbSongCard {
    flex-wrap: wrap;
  }

  .botbAlbumArt {
    margin: auto;
    padding: 15px;
  }
}